.entry {
    padding: 3px 1em;
    margin: 0.5em auto;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    cursor: pointer;

}

.entry:hover {
    box-shadow: rgba(0, 0, 0, 0.089) 0px 2px 8px 0px;

}

.viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-body);
}

.container {
    width: 95%;
    margin: 1em auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    border-radius: 5px;
}

.controls {
    display: grid;
    grid-auto-columns: auto;
}

.hidden {
    display: none;
}

video {
    display: block;
    width: 95% !important;
    height: 30em !important;
    margin: 1em auto;
}

#clips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    text-align: center;
}